body{
    font-family: 'Crimison Text', serif;
    background-color: #f2fffc;
    font-size: 120%;
}

main h1{
    font-size: 60px;
    background-color: darkblue;
    color: aliceblue;    
    text-align: center;
}

h1,h2{
    font-family: 'Open Sans Condensed', sans-serif;
}

h2{
    font-size: 40px;
}
p{
    text-align: justify;
}

blockquote{
    background-color: lightblue; 
}

aside{
    background-color: mediumseagreen;
    color: #f2fffc;
}

aside a{
    color:inherit;
    font-family: "Open Sans Condensed", sans-serif
}

footer{
    background-color: black;
    color: lightgray
}

main a{
    color: #851944;
}

